    <div class="searchresult__table">
        <div class="noResult hide">Oh! Sorry no flights on this search..</div>
        <div class="searchresult__table-detailsrow">
            <table width="100%"  align="center">

                <!--Every tr is a flight detail row..-->
                  {{#each this}}
                    <tr width="100%">
                    <td width="50%">
                        <div class="searchresult__table-detailsrow-flightname">{{flightname}}</div>
                        <div class="searchresult__table-detailsrow-timedetails">
                            <span class="searchresult__table-detailsrow-timedetails-dtime">{{atime}}</span>
                            <span class="searchresult__table-detailsrow-timedetails-nonstop">Non-stop</span>
                            <span class="searchresult__table-detailsrow-timedetails-atime">{{dtime}}</span>
                        </div>
                    </td>
                    <td width="25%">
                        <div class="searchresult__table-detailsrow-logo">
                            <img src="/images/{{fid}}.png" height="80px">
                        </div>
                    </td>
                    <td width="25%">
                        <div class="searchresult__table-detailsrow-pricedetails">
                            <div class="searchresult__table-detailsrow-pricedetails-price">&#8377; {{cost}}</div>
                            <div class="searchresult__table-detailsrow-pricedetails-proceed"><span>Proceed</span></div>
                        </div>
                    </td>
                </tr>
                  {{/each}}
	    </table>

	</div>
</div>
